*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    /* color: white; */
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #1C1B1C;

}
.img-first{
    margin: 66px 70px 8px 70px;
    padding-top: 40px;
    
}
.text-container{
    position: absolute;
    left: 60rem;
    top: 70px;
   
}
.text1{
color: #E8E6E7;
text-align: center;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-size: 28px;
font-weight: 100;
line-height: 25px; 
letter-spacing: 2.24px;
font-style: normal;

}
.text2{
    color: #00FFF2;
    text-align: center;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.text3{
    text-align: center;
    color: #E8E6E7;
    font-size: 28px;
    font-weight: 100;
    line-height: 40px; 
    letter-spacing: 2.24px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.text4{
    text-align: center;
    color: #E8E6E7;
    font-size: 12px;
    font-style: normal;
    line-height: 23px;
    padding-top: 120px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #E8E6E7;
    padding-top: 170px;
}
.icon img{
    height: 25px;
}
.icon #para1{
    font-size: 7px;
    padding: 5px;
    margin: 5px;
}
.chat-image{
    position: absolute;
    bottom: 90%;
    left : 90rem;
    color: #FFC90D;
    font-size: 50px;
   
    
}
.second-container{
    height: 400px;
    width: 90rem;
    background-color: #FFC90D;
    color: #FF00CF;
    border-radius: 15px;
    text-align: center;
    font-size: 3.5rem;
    margin-left: 20px;
    padding: 60px;
    
}
.second-container h2{
    font-weight: bolder;
}
.list-div{
    height: 200px;
    background-color: #2F2E2E;
    color:#E8E6E7;
    padding-top: 0%;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;   
}
.first-list{
    border-right :2px solid #fff;
    height: 150px;
    text-align: center;
    margin: 30px 0 10px 0;
}
 #list{
    color: #FF00CF;
    padding-top: 30px;
    font-size: 20px;
}
.second-list{
    border-right :2px solid #fff;
    height: 150px;
    text-align: center;
    margin: 30px 0 10px 0;
    
}
.third-list{
    text-align: center;
    margin: 30px 0 10px 0;
}
.box-container{
    display: flex;
    padding: 50px;
}
.box1{
    color:#E8E6E7;
    font-size: 1rem;
    padding: 90px;
    margin: 50px 0 0 30px;
    line-height: 25px;

}
.box2{
    margin: 50px 0 0 30px;
    filter: drop-shadow(0 0 10px rgba(212, 218, 212, 0.353));
      
}